@page
@model ChatApp.Pages.ChatPages.LoginModel
@{
    ViewData["Title"] = "Login";
}

<h1 class="display-4">Login</h1>

@if (Model.Message != null)
{
    <div class="alert alert-info">@Model.Message</div>
}

<div class="container">
    <form method="post">
        <div class="form-group">
            <label asp-for="User.DisplayName">Username: </label>
            <input asp-for="User.DisplayName" class="form-control" id="Username" />
        </div>
        <div class="form-group">
            <label asp-for="User.Password">Password: </label>
            <input asp-for="User.Password" class="form-control" id="Password" type="password" />
        </div>
        <button type="submit" id="LoginButton" class="btn btn-primary">Save</button>
    </form>
    <p>Don't have an account? <a asp-page="./Register">Register now</a></p>
</div>

@section Scripts{

    <environment include="Development">
        <script src="~/js/site.js"></script>
    </environment>

}

